@use 'variable'

@mixin backgroundHero
    background-image: url('../img/fundo.png')
    background-position: bottom

@mixin resetNav
    ul
        list-style: none
        a
            text-decoration: none

@mixin flexCenter
    display: flex
    align-items: center
    justify-content: center

@mixin container
    max-width: variable.$container-width
    margin: 0 auto
    padding: 1rem

@mixin title
    color: variable.$text-color-2
    background-color: variable.$background-primary
    padding: 3px