body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
#container{
    margin: 20px auto;
    width: 90%;
    box-sizing: border-box;
}

/*
*/

.logo{
    float: left;
    margin: 5px 0 0 135px;
}
nav{
    background-color: #081A24;
}
nav a{
    color: #425564;
    text-decoration: none;
    transition: color 0.3s linear;
}
nav a:hover{
    color: white;
}
ul{
    float: right;
    margin-right: 60px;
}
li{
    text-transform: uppercase;
    list-style: none;
    display: inline-block;
    letter-spacing: 4px;
    margin-left: 10px;
    margin-right: 10px;
}
.background{
    width: 100%;
}

/* 
*/

article{
    padding: 50px 100px;
    text-align: center;
}
article h1{
    font-size: 36px;
    color: #252525;
}
article p{
    font-size: 16px;
    line-height: 2;
    color: #555;
}

/* 
*/

#section-1{
    padding: 0px 100px 50px 100px;
    overflow: auto;
}
.card{
    width: 32%;
    float: left;
    text-align: center;
}
.card h3{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 16px;
}
.card p{
    font-size: 12px;
    color: #555;
}

/*
*/

#section-2{
    color: white;
    background-color: #003d52;
    padding: 100px;
    background-image: url(../img/bg_detalhe.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
#section-2 h2{
    text-transform: uppercase;
    font-size: 42px;
}
#section-2 p{
    line-height: 1.5;
    width: 70%;
}

/*
*/
address{
    margin: 30px;
}
address p{
    color: #143f52;
    text-transform: uppercase;
    text-align: center;
    margin: 30px;
    font-style: normal;
    font-weight: bold;
}
iframe{
    width: 100%;
}

/*
*/

footer{
    background-color: #0b171f;
    text-align: center;
    padding: 10px;
    color: #6f8597;
    letter-spacing: 3px;
}